---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

# Indentation
AccessModifierOffset: -4
IndentAccessModifiers: true
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
UseTab: Always
NamespaceIndentation: All

# Column limit - 0 = pas de reformatage des longues lignes
ColumnLimit: 0

# Braces (Allman style)
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Line breaks
AlwaysBreakAfterDefinitionReturnType: true
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: false

# Constructor initializers - ":" sur nouvelle ligne, virgule à la fin
BreakConstructorInitializers: BeforeColon
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
PackConstructorInitializers: Never

# Short forms
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false

# Spaces - parenthèses pour control statements SEULEMENT (if, for, while)
SpacesInParentheses: false
SpacesInConditionalStatement: true
SpacesInCStyleCastParentheses: false
SpacesInAngles: true
SpaceInEmptyParentheses: false

# Pas d'espace dans les accolades d'initialisation
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

# Space before parentheses
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterOverloadedOperator: true

# Other spaces
SpaceAfterTemplateKeyword: false

# Pointer alignment
PointerAlignment: Middle
ReferenceAlignment: Middle

# Empty lines
EmptyLineAfterAccessModifier: Always
MaxEmptyLinesToKeep: 2

# Includes
SortIncludes: false
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'

# Other
FixNamespaceComments: false
InsertNewlineAtEOF: true
MacroBlockBegin: ''
MacroBlockEnd: ''
...
